.message {
  padding: 5px;
  background-color: bisque;
  border-bottom: 1px solid grey;
}

.message-header {
  font-size: 1.4em;
  font-weight: bold;
  color: darkred;
}

.message-text {
  font-weight: bold;
  color: grey;
}

.message-image {
  padding: 2px;
}

.message-expire-time {
  float: right;
  color: chocolate;
  padding: 2px;
}

.clear {
  clear: both;
}
