<div class="message-list">
  <app-msg-presenter *ngFor="let message of messages; let i = index;" [message]="message" [id]="i"
                     (msgExpired)="onMsgExpire($event)"></app-msg-presenter>
  <div class="no-records" *ngIf="messages.length === 0">
    <p>No message(s) found :( Please change expire_at(Message Expiration Time) field to future date time in</p>
    <p><a href="assets/api/message-image.json" target="_blank">message-image.json</a> &
      <a href="assets/api/message-text.json" target="_blank">message-text.json</a> to see results.
    </p>
  </div>
</div>
